div .subject {
  background-color: #f7f1e3;
  border-radius: 6px;
  font-family: 'Urbanist', sans-serif;
  align-items: center;
  text-align: center;

}
#subjectTittle {
  color: #2c2c54;
  font-weight: bolder;
  text-transform: uppercase;
}
#subjectAuthor{
  color: #40407a;
}
#subjectDescription{
  font-style: italic;
  color: #cd6133;
}

button{
  background-color: #cd6133;
  color: #f7f1e3;
  font-family: 'Urbanist', sans-serif;
}
