<mdb-card>
  <mdb-card-body>
    <!-- Material form register -->
    <form (ngSubmit)="onSubmit()">
      <p class="h4 text-center py-4">Sign up</p>

      <!-- Material input text -->
      <div class="md-form">
        <label class="font-weight-light">Name</label>
        <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="firstName"
          class="form-control"
          mdbInput
          placeholder="María"
          name="firstName"
          [(ngModel)]="data.firstName"
        />
      </div>

      <div class="md-form">
        <label class="font-weight-light">Family-name</label>
        <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="familyName"
          class="form-control"
          mdbInput
          placeholder="Garcia"
          name="familyName"
          [(ngModel)]="data.familyName"
        />
      </div>
      <!-- Material input email -->
      <div class="md-form">
        <label class="font-weight-light">
          Email
        </label>
        <input
          type="email"
          id="email"
          class="form-control"
          mdbInput
          placeholder="example@example.es"
          name="email"
          [(ngModel)]="data.email"
        />
      </div>

      <!-- Material input password -->
      <div class="md-form">
        <label class="font-weight-light">Your password</label>
        <mdb-icon fas icon="exclamation-triangle" class="prefix grey-text"></mdb-icon>
        <input
          type="password"
          id="password"
          class="form-control"
          mdbInput
          name="password"
          [(ngModel)]="data.password"
        />
      </div>

      <div class="text-center py-4 mt-3">
        <button mdbBtn class="waves-light" type="submit" mdbWavesEffect>
          Register
        </button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>
