
<mdb-card>
  <mdb-card-body>
    <!-- Material form register -->
    <form >
      <p class="h4 text-center py-4">Sign up</p>

      <!-- Material input text -->
      <div class="md-form">
        <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
        <input
          type="text"
          id="materialFormCardNameEx"
          class="form-control"
          mdbInput
          placeholder="Juan Garcia"
        />
        <label class="font-weight-light">Your name</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <input
          type="email"
          id="materialFormCardEmailEx"
          class="form-control"
          mdbInput
          placeholder="example@example.es"
        />
        <label class="font-weight-light">
          Your email
        </label>
      </div>

      <!-- Material input password -->
      <div class="md-form">
        <mdb-icon fas icon="exclamation-triangle" class="prefix grey-text"></mdb-icon>
        <input
          type="password"
          id="materialFormCardConfirmEx"
          class="form-control"
          mdbInput
        />
        <label class="font-weight-light">Your password</label>
      </div>

      <!-- Material input password -->
      <div class="md-form">
        <mdb-icon icon="lock" class="prefix grey-text"></mdb-icon>
        <input
          type="password"
          id="materialFormCardPasswordEx"
          class="form-control"
          mdbInput
        />
        <label class="font-weight-light">Repeat your password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button mdbBtn class="waves-light" type="submit" mdbWavesEffect>
          Register
        </button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>
